# ── API ───────────────────────────────────────────────────
NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_APP_URL=http://localhost:3010
NEXT_PUBLIC_APP_NAME=Instant Catalog

# ── PWA ───────────────────────────────────────────────────
NEXT_PUBLIC_PWA_ENABLED=true
